@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

body {
    background-color: rgb(32, 32, 32);
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 12px 32px;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.navbar img {
    height: 92px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 6px 4px;
    transition: color 0.2s ease-in-out;
}

.menu a:hover {
    color: #ff0000;
}

.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.conteudo {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
}

.textos {
    max-width: 400px;
    text-align: left;
}

.textos h1 {
    font-family: "Nothing You Could Do";
    color: rgb(255, 0, 0);
    font-size: 42px;
    margin-bottom: 10px;
}

.textos p {
    font-family: "Raleway", sans-serif;
    color: #ccc;
    font-size: 20px;
    line-height: 1.6;
}


.conteudo img {
    width: 800px;
    height: auto;
    border-radius: 5%;
    display: block;
    transition: transform 0.4s ease;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.conteudo img:hover {
    transform: scale(1.02);
}

.logo:hover {
    transform: scale(1.50);
    transition: transform 0.3s ease;
}

.historia {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}
